---
import Card from './Card.tsx';

interface CardInformation {
	title: string;
	icon: string,
	alt: string;
	description: string;
}

interface Props {
	cards: Array<CardInformation>;
}

const { cards } = Astro.props;
---
<div class="mt-40 relative flex flex-col justify-center items-center">
	<div class="z-0 relative bg-cyan w-[0.5rem] h-[60rem]"></div>
	<ol class="z-10 absolute list-none">
		{ 
			cards.map((cardInfo: CardInformation, index: number) => <Card client:visible id={index} title={cardInfo.title} icon={cardInfo.icon} alt={cardInfo.alt} description={cardInfo.description} />) 
		}
	</ol>
</div>
