---
import { Image } from 'astro:assets';

import { Link } from 'react-aria-components';
import { type NavLink } from './Navbar';

import logo from '../assets/logo.svg';
import pinterestIcon from '../assets/icon-pinterest.svg';
import instagramIcon from '../assets/icon-instagram.svg';
import twitterIcon from '../assets/icon-twitter.svg';
import facebookIcon from '../assets/icon-facebook.svg';

interface DirectoryListing {
  section: string,
  links: Array<NavLink>
}

const { directory, showAdSection } = Astro.props;
// const baseURL = import.meta.env.BASE_URL;

---
<footer class="mt-6 flex flex-col justify-start w-full">
  {
    showAdSection ? 
      (
        <section class="flex flex-col justify-center items-center bg-dark-violet text-center xl:min-h-[15.625rem] lg:min-h-[15.325rem] min-h-[18.75rem] lg:bg-bg-boost-desktop bg-bg-boost-mobile bg-no-repeat xl:bg-cover bg-auto xl:bg-bottom bg-right">
          <h2 class="leading-[3rem] tracking-[-0.044em] font-bold xl:text-[2.5rem] text-[1.75rem] text-white">Boost your links today</h2>
          <button class="xl:mt-8 mt-4 hover:bg-light-cyan bg-cyan text-white rounded-full py-3 xl:px-10 px-8 font-bold text-[1.25rem]">Get Started</button>
        </section>
      ) : null
  }
  <section class="py-12 flex lg:flex-row flex-col lg:justify-evenly justify-center lg:items-start items-center bg-very-dark-violet">
    <Link href="/">
      <Image class="invert" src={logo} alt="main site logo in footer" />
    </Link>
    <div class="lg:mt-0 mt-[3.063rem] xl:w-[28.813rem] lg:w-[20.813rem] max-w-[28.813rem] flex lg:flex-row flex-col lg:justify-between">
    {
      directory.map((listing: DirectoryListing) => (
          <nav class="text-center lg:mb-0 mb-10 last:mb-0" aria-label={`${listing.section} navigation menu`}>
            <h3 class="font-bold text-[1rem] tracking-[-0.016em] text-white">{ listing.section }</h3>
            <ol class="mt-[1.375rem] list-none flex flex-col">
              { 
                listing.links.map((link: NavLink) => (
                  <li class="mb-[0.625rem] last:mb-0">
                    <Link className="tracking-[-0.014em] font-medium text-[0.938rem] text-gray" href={link.url}>{ link.label }</Link>
                  </li>
                )) 
              }
            </ol>
          </nav>
      ))
    }
    </div>
    <nav class="lg:mt-0 mt-12" aria-label="social media navigation menu">
      <ol class="w-[10.5rem] list-none flex flex-row justify-between items-center">
        <li>
          <Link href="#facebook" target="_blank">
            <Image src={facebookIcon} alt="facebook social icon" loading="lazy" />
          </Link>
        </li>
        <li>
          <Link href="#twitter" target="_blank">
            <Image src={twitterIcon} alt="twitter social icon" loading="lazy" />
          </Link>
        </li>
        <li>
          <Link href="#pinterest" target="_blank">
            <Image src={pinterestIcon} alt="pinterest social icon" loading="lazy" />
          </Link>
        </li>
        <li>
          <Link href="#instagram" target="_blank">
            <Image src={instagramIcon} alt="instagram social icon" loading="lazy" />
          </Link>
        </li>
      </ol>
    </nav>
  </section>
</footer>
<style>
  
</style>
